<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/neeraj._.003/" style="color: inherit;"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/neeraj-kumar-thakur-583a45249/" style="color: inherit;"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/neeraj0003" style="color: inherit;"><i class="fa-brands fa-square-github"></i></a>
        </div>
        <div class="f-info-brand">&copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
    
</footer>