<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <!-- <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i> -->
            <a class="socials-btn mt-2" href="mailto:chiragyadav916@gmail.com"><i class="fa-solid fa-envelope"></i></a>
            <a class="socials-btn mt-2" href="https://www.linkedin.com/in/chiragyadav916/" target="_blank"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a class="socials-btn mt-2" href="https://github.com/chiragyadav916" target="_blank"><i
                    class="fa-brands fa-square-git"></i></a>
        </div>
        <div class="f-info-brand"> <i class="fa-solid fa-copyright"></i> Made by <i>Chirag Yadav</i><br><b>Thank
                You! </b><i class="fa-solid fa-heart"></i> </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy&nbsp;</a>
            <a href="/terms"> Terms</a>
        </div>
    </div>
</footer>