<!-- all listings page -->

<% layout('/layouts/boilerplate') -%>

    <style>
        #filters {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 2rem;
        }

        .filter {
            display: inline;
            text-align: center;
            margin-right: 2rem;
            opacity: 0.77;
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
            scale: 1.2;
        }

        .tax-info {
            display: none;
        }

        .tax-toggle {
            border: 1px solid black;
            border-radius: 1rem;
            height: 3.5rem;
            padding: 1rem;
            margin-left: 1rem;
            display: flex;
            margin-bottom: 1.3rem;
        }
    </style>

    <body>
        <!-- <h3 class="mb-4"><i>All Listings</i></h3> -->
        <!-- Adding Filters -->
        <div id="filters">
            <div class="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Room</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-mountain-sun"></i></div>
                <p>Mountain</p>
            </div>
            <div class="filter">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castle</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Pool</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-igloo"></i></div>
                <p>Domes</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-sailboat"></i></div>
                <p>Boats</p>
            </div>

            <div class="tax-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Display Total after Taxes</label>
                </div>
            </div>

        </div>

        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-2">
            <% for (listing of allListings) { %>
                <a href="/listings/<%= listing._id %>" class="listing-link home-img">
                    <div class="listing-card card col">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image"
                            style="height: 20rem">
                        <div class="card-img-overlay "></div>
                        <div class="card-body ">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b><br>
                                <% if (listing.price !==undefined) { %>
                                    &#8377; <%= listing.price.toLocaleString("en-IN") %>/
                                        night
                                        <% } else { %>
                                            Price Not Available
                                            <% } %>
                                                <b><i class="tax-info">+18% GST</i></b>
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </body>

    <!-- show taxes -->
    <script>
        let taxSwitch = document.getElementById("flexSwitchCheckDefault");
        taxSwitch.addEventListener("click", () => {
            //collection of items
            let taxInfo = document.getElementsByClassName("tax-info");
            for (info of taxInfo) {
                if (info.style.display != "inline") {
                    info.style.display = "inline";
                } else {
                    info.style.display = "none";
                }
            }
        });
    </script>